doctype html
html(lang='eng')
  head
    include head
  body.centered
    header
     include header
    .container.pt-3
      main(role='main')
        block content
    footer.footer
      .container-fluid
        include footer
