extends layout
block body
  header
    nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
      a(href="/").navbar-brand FullFeatureX
  .container.pt-3
    main(role="main")
      block content
  footer.footer
    .footer-content.container-fluid.d-flex.align-content-center.flex-wrap
      .p-2
        include footer
