doctype html
html(lang='eng')
  head
    include head
  body.centered
    header
      nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark')
        a(href='/').navbar-brand FullFeatureX
    .container.pt-3
      main(role='main')
        block content
    footer.footer
      .container-fluid
        include footer
