extends centered

block content
  h1= title
  .container
    .row
      .col-md-4.offset-md-4
        form.login(action="/login" method="post")
          .form-group
            label(for="loginUsername") Username
            input(id="loginUsername" class="form-control", name="username", type="username", placeholder="Username")
          .form-group
            label(for="loginPassword") Password
            input(id="loginPassword", class="form-control", name="password", type="password", placeholder="Password")
          .form-group.text-center
            button(type="submit", class="btn btn-primary") Submit
