mixin list-item(url, label)
  li.nav-item
    a.nav-link(href=url)=label

+list-item("/dashboard", "Dashboard")
+list-item("/profile", "Profile")
+list-item("/help", "Help")
li.seperator
+list-item("/logout", "Logout")
