mixin list-item(url, label)
  li.nav-item
    a.nav-link(href=url)=label

+list-item("/", "Dashboard")
+list-item("/help", "Help")
li.seperator
if username
  +list-item("/profile", "Logged in as " + username)
  +list-item("/logout", "Logout")
else
  +list-item("/login", "Login")
  +list-item("/register", "Register")
