extends layout
block body
  header.sticky-top
    nav(class="navbar navbar-expand-md navbar-dark bg-dark")
      a(href="/").navbar-brand FullFeatureX
      button(class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #topnav.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          include top-menu-items
  #centered.container-fluid
    main(role="main")
        block content
  footer(class="footer position-absolute")
    .footer-content.container-fluid.d-flex.align-items-center.flex-wrap
      div
        include footer
