extends layout
block body
  header.sticky-top
   include header
  #dashboard.container-fluid
    nav(class="col-sm-3 col-md-2 d-sm-block bg-light sidebar")
      ul(class="nav nav-pills flex-column")
        include dashboard-menu-items
    main(class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main")
      h1= title
      block content
  footer(class="footer position-absolute")
    .footer-content.col-sm-9.ml-sm-auto.col-md-10.d-flex.align-items-center.flex-wrap
      div
        include footer
