mixin list-item(url, label)
  li.nav-item
    if path == url
      a.nav-link.active(href=url)=label
    else
      a.nav-link(href=url)=label
    
+list-item("/bars", "Bars")
+list-item("/graphs", "Graphs")
