mixin list-item(url, label)
  li.nav-item
    if path == url
      a.nav-link.active(href=url)=label
    else
      a.nav-link(href=url)=label

+list-item("/", "Dashboard")
+list-item("/help", "Help")
li.seperator
if username
  +list-item("/users/profile", "Welcome, " + username)
  +list-item("/users/logout", "Logout")
else
  +list-item("/users/login", "Login")
  +list-item("/users/register", "Register")
